<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="details content">
      <img class="details_image" src="<%= blog.image %> " alt="image" />
      <h2><%= blog.title %></h2>
      <div class="content">
        <!-- <p><%=blog.snippet %></p> -->
        <p class="snippet"><%=blog.body%></p>
      </div>
      <div class="icons">
        <a href="" class="delete" data-doc="<%= blog._id %>"
          ><img src="/trash.svg" alt=""
        /></a>
        <a href="" class="share" data-doc="<%= blog._id %>"
          ><img src="/share.png" alt=""
        /></a>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
  <script>
    const trash = document.querySelector(".delete");

    trash.addEventListener("click", (e) => {
      if (confirm("Are you sure want to Delete it ?")) {
        const endpoint = `/blogs/${trash.dataset.doc}`;

        //for delete
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect)) //(window.location.href = data.redirect)
          .catch((err) => console.log(err));
      }
    });

    const share = document.querySelector(".share");

    share.addEventListener("click", (e) => {
      const link = window.location.href;
      console.log(link);
      alert(link);
    });
  </script>
</html>
