<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/Tech-A-thon/public/index.css" />
  <body>
    <%- include('./partials/nav.ejs') %>

    <h2 class="header">All Blogs</h2>
    <div class="blogs_content">
      <% if(blogs.length>0){ %> <% blogs.forEach(blog => { %>
      <img class="blog_image" src="<%= blog.image %> " alt="image" />
      <a href="/blogs/<%=blog._id%>" class="single">
        <h2 class="title"><%= blog.title%></h2>
        <p class="snippet"><%= blog.snippet%></p></a
      >
      <!-- <button class="like" data-doc="<%= blog._id %>"><%= blog.like%></button> -->
      <!-- <button class="like">0</button> -->
      <% }); %> <% } else { %>
      <p class="snippets">There are No blogs to display</p>
      <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
  <script>
    const like_button = document.querySelector(".like");
    like_button.addEventListener("click", (e) => {
      const endpoint = `/blogs/${like_button.dataset.doc}`;
      console.log(endpoint);
      fetch(endpoint, {
        method: "PUT",
      }).then((response) => {
        response.json();
        console.log(JSON.stringify(response));
      });
    });
  </script>
</html>

<!-- 
const trash = document.querySelector(".delete");

    trash.addEventListener("click", (e) => {
      const endpoint = `/blogs/${trash.dataset.doc}`;

      //for delete
      fetch(endpoint, {
        method: "DELETE",
      })
        .then((response) => response.json())
        .then((data) => (window.location.href = data.redirect)) //(window.location.href = data.redirect)
        .catch((err) => console.log(err));
    }); -->
